//-----------------------------------------------
// Colors
//-----------------------------------------------
$almost-black: #2a3331;
$almost-white: #f7f2f0;
$almost-yellow: #ffdc86;
$main-green: #1a6d67;

$primary-color: $main-green;
$secondary-color: $almost-yellow;
$text-color: $almost-white;
