@import "colors";

body.home{
	text-align: center;

	&>header{
		border-bottom: 0;
	}

	h1{
		font-size: 5.88rem;
	}

	.lead{
		margin: 0 auto 1.9rem;
		width: 40%;
		font-size: 2.0rem;
	}
}

section{
	padding: 1.5rem 0;
}

.full-width{
	position: relative;
	margin: 0 -5%;
	width: 110%;
}

section.introduction{
	padding: 60px 0;
}

.benefits-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	div{
		padding: 0 24px;
		width: 31.25%;
		min-width: 300px;
	}

	h2{
		font-size: 2.4rem;
	}

	a{
		color: $secondary-color;
	}
}



/************************************************
 * <= 1000px width
 * *********************************************/
@media(max-width: 1000px){
}


/************************************************
 * <= 850px width
 * *********************************************/
@media(max-width: 850px){
}


/************************************************
 * <= 750px width
 * *********************************************/
@media(max-width: 750px){
}


/************************************************
 * <= 600px width
 * *********************************************/
@media(max-width: 600px){
}
