{{ define "main" }}
<main class="single">
	<h1 class="the-term">{{ .Title }}</h1>
	<span>{{ index .Site.Data.topics .Section }}</span>
	<div class="term term-full">
		{{ with .Params.acronym }}Acronym: <span class="acronym">{{ . }}</span>{{ end }}
		<span class="definition">{{ .Params.definition }}</span>
		<div class="content">{{ .Content }}</div>
	</div>
{{ if eq .Section "saas" }}
{{ with .NextInSection }}
	<a href="{{ .Permalink }}" class="term term-hint term-prev">
		&lt; <span class="the-term">{{ .Title }}</span>
	</a>
{{ end }}
{{ with .PrevInSection }}
	<a href="{{ .Permalink }}" class="term term-hint term-next">
		<span class="the-term">{{ .Title }}</span> &gt;
	</a>
{{ end }}
{{ end }}
</main>
{{ end }}
